.env
secrets/*
!secrets/.gitkeep
logs/
__pycache__/
.pytest_cache/
.venv/
dbt/target/
dbt/logs/
reports/*
!reports/.gitkeep
*.p8
*.pem
.env.*
!.env.example
clave_publica_actual.txt
dbt/.user.yml
*.log